.cart {
  position: relative;
  min-width: 84%;
  padding-left: 8%;
  padding-right: auto;
}

.cart_header {
  margin-bottom: 16px;
  margin-top: 80px;
}

.btn {
  display: block;
  width: 26%;
  margin-top: 90px;
  padding: 14px 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  text-align: center;
  background-color: #4B4950;
  border-radius: 4px;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 400ms;
}

.btn:hover {
  background-color: #006AFF;
}

.label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.cartSum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 205px;
  height: 100px;
  margin-top: 130px;
}

.sumText {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.lowerLine {
  display: flex;
  width: 84%;
  justify-content: space-between;
}
