.cart {
  min-width: 84%;
  padding-left: 8%;
  padding-right: auto;
}

.cart_header {
  margin-bottom: 16px;
  margin-top: 80px;
}

.btn {
  display: block;
  width: 26%;
  margin-top: 90px;
  padding: 14px 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  text-align: center;
  background-color: #4B4950;
  border-radius: 4px;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 400ms;
}

.btn:hover {
  background-color: #006AFF;
}