.catalogItems_wrapper {
  position: relative;
  /* display: flex; */
  overflow: hidden;
  margin-bottom: 80px;
}

.catalogItems_content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: 'Golos Text', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  background-color: #FFFFFF;
}

.catalogItems_header {
  margin-top: 70px;
  margin-bottom: 193px;
}

.catalogItems_star {
  position: absolute;
  width: 46px;
  height: 46px;
  mask-image: url(../../../assets/svg/atr_star.svg);
  background-size: contain;
  background-color: #49D2A4;
}

@media (max-width: 1650px) {
  .catalogItem_content {
    margin-left: -1.49%;
    margin-right: -1.49%;
  }
}

@media (max-width: 1600px) {
  .catalogItem_content {
    margin-left: -0.57%;
    margin-right: -0.57%;
  }
}

@media (max-width: 1000px) { 
  .catalogItem_content {
    margin-left: -1%;
    margin-right: -1%;
  }
}

.catalogItems_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 62px;
  padding: 16px 10px;
  width: 320px;
  background-color: #4B4950;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 400ms;
}

.catalogItems_button:hover {
  background-color: #006AFF;
}
