.productReview_review {
  flex: 0 1 33.33%;
  padding: 0 20px;
  text-align: left;
}

.productReview_item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 31px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  border: 2px solid rgba(75, 73, 80, 0.3);
  border-radius: 20px;
}

.productReview_person {
  display: flex;
  margin-bottom: 37px;
}

.productReview_img {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 24px;
  background-color: #C4C4C4;
  border-radius: 50%;
  text-indent: -9999px;
}

.productReview_img img {
  border-radius: 50%;
}

/* скрывает изображение сломанной иконки */ 
.productReview_img img[alt]:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D3D8DC;
  background-image: url('../../../../assets/img/no_img.png');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  content: attr(alt);
}

.productReview_title {
  margin-top: 19px;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.productReview_content {
  flex: 1 0 auto;
  min-height: 67px;
  margin-left: -2px;
  margin-bottom: 43px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}

.productReview_date {
  display: flex;
  margin-left: -2px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  align-items: center;
}

@media (max-width: 1200px) {
  .productReview_review {
    flex: 0 1 50%;
  }

  .productReview_item {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .productReview_review {
    flex: 0 1 100%;
  }
}
