.support {
  min-width: 84%;
  padding-left: 8%;
  padding-right: auto;
  margin-top: 60px;
}

.supportContent {
  position: relative;
  margin-top: 48px;
  display: flex;
  min-width: 84%;
  padding-right: auto;
  margin-top: 60px;
}

.supportSidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 700px;
  width: 23%;
  background-color: #006AFF;
}

.supportQuestions {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 40px;
  padding-right: 40px;
  height: 120px;
  border: 1px solid #FFFFFF;
  border-width: 1px 0 0 0;
  overflow: hidden;
}

.supportQuestionsOpen {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding-left: 40px;
  padding-right: 40px;
  height: 120px;
  border: 1px solid #FFFFFF;
}

.supportQuestions:last-child{
  border-width: 1px 0 1px 0;
}

.supportAnswerContent {
  position: absolute;
  top: 0;
  left: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 57%;
  margin-left: 4%;
  padding-bottom: 100px;
}

.supportAnswer {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background-color: #F2F2F2;
  padding: 29px 54px 29px 54px;
  width: 100%;
}

.supportBackground {
  position: absolute;
  z-index: -1;
  top: 140px;
  width: 100%;
  height: 520px;
  margin-top: 82px;
  background-image: url(../../assets/svg/help_background.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.supportAnswerText {
  display: block;
  width: 60px;
  font-family: 'Golos Text', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
}