/* reviews.css */

.main-reviews {
  margin-bottom: 120px;
  overflow: hidden; /* Срезать padding'и у отзывов при уменьшеном экране. */
}

.main-reviews__text {
  margin-bottom: 55px;

  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  font-weight: 500;

  opacity: 0.7;
}

.main-reviews__title {
  margin-bottom: 20px;
}

/* Стили для слайдера в блоке с отзывами. ---------------------------------------------- */

.main-reviews__slider {
  margin-bottom: 50px;
}

.slider-main-rewiews .slider__container {
  display: flex;
  justify-content: center;
  margin: 0 -30px 46px -30px;
}

.slider-main-rewiew {
  flex: 0 1 25%;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-main-rewiew__img {
  padding-bottom: 120.777%;
  margin-bottom: 28px;

  border-radius: 8px 8px 16px 16px;
  background-color: #E5E5E5;
  overflow: hidden;
}

.slider-main-rewiew__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #4B4950;
}

.slider-main-rewiew__link {
  display: block;
  padding-bottom: 8px;

  border-bottom: 2px solid #4B4950;

  font-family: 'Golos Text VF', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
  text-align: center;
  text-transform: uppercase;

  flex: 1 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media(max-width: 1200px) {

  .slider-main-rewiews .slider__container {
    margin: 0 -20px 46px -20px;
  }

  .slider-main-rewiew {
    flex: 0 1 33.33%;
    padding: 0 20px;
  }

  .slider-main-rewiew__link {
    font-size: 22px;
  }
}

@media(max-width: 992px) {
  .slider-main-rewiews .slider__container {
    margin: 0 -15px 46px -15px;
  }

  .slider-main-rewiew {
    padding: 0 15px;
  }

  .slider-main-rewiew__link {
    font-size: 20px;
  }
}

@media(max-width: 768px) {
  .slider-main-rewiews .slider__container {
    margin: 0 -15px 46px -15px;
  }

  .slider-main-rewiew {
    flex: 0 1 50%;
    padding: 0 15px;
  }

  .slider-main-rewiew__link {
    font-size: 20px;
  }
}

@media(max-width: 468px) {
  .slider-main-rewiew {
    flex: 0 1 100%;
    padding: 0 15px;
  }
}
