.aboutMerch_section {
  margin-bottom: 120px;
  text-align: left;
  background-color: #FFFFFF;
}

.aboutMerch_body {
  position: relative;
}

.aboutMerch_header {
  margin-bottom: 16px;
}

.aboutMerch_text {
  margin-left: 2px;
  margin-bottom: 53px;
  font-weight: 500;
  font-size: 19.7px;
  line-height: 1.2;
  align-items: center;
  color: #4B4950;
  opacity: 0.7;
}

.aboutMerch_items {
  display: flex;
  margin: 0 -40px 70px -40px;
}

.aboutMerch_item {
  flex: 0 1 33.33%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutMerch_image {
  position: relative;
  border-radius: 8px 8px 16px 16px;
  margin-bottom: 22px;
  /* padding-bottom: 91.9%; */
  padding-bottom: 104%;
  text-indent: -9999px; 
  overflow: hidden;
}

.aboutMerch_image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #4B4950;
}

.aboutMerch_image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  /* height: 100%; */
	object-fit: cover;
}

/* скрывает изображение сломанной иконки */ 
.aboutMerch_image img[alt]:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 104%;
  background-color: #D3D8DC;
  background-image: url('../../../assets/img/no_img.png');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  content: attr(alt);
}

.aboutMerch_star {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(../../../assets/svg/atr_star_about-merch.svg);
  background-size: contain;
  left: -93px;
  bottom: 13px;
}

.aboutMerch_link {
  display: inline-block;
  font-family: 'Golos Text VF', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #4B4950;
  text-align: center;
  padding-bottom: 9px;
  border-bottom: 2px solid #4B4950;

  flex: 1 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1750px) {
  .aboutMerch_star {
    left: 3%;
    bottom: -3%;
  }
}

@media (max-width: 1400px) {
  .aboutMerch_link {
    font-size: 21px;
  }

  .aboutMerch_items {
    margin: 0 -30px 70px -30px;
  }
  
  .aboutMerch_item {
    padding: 0 30px;
  }
}

@media (max-width: 1200px) {
  .aboutMerch_link {
    font-size: 18px;
  }

  .aboutMerch_items {
    margin: 0 -20px 70px -20px;
  }
  
  .aboutMerch_item {
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  .aboutMerch_header {
    font-size: 30px;
  }

  .aboutMerch_items {
    margin: 0 -10px 50px -10px;
  }
  
  .aboutMerch_item {
    padding: 0 10px;
  }

  .aboutMerch_link {
    font-size: 17px;
  }

}

@media (max-width: 768px) {
  .aboutMerch_text {
    margin-bottom: 30px;
    font-size: 17px;
  }

  .aboutMerch_items {
    display: block;
    margin: 0;
    margin: 0 0 50px 0;
  }
  
  .aboutMerch_item {
    max-width: 488px;
    margin: 0 auto;
    padding: 0;
  }

  .aboutMerch_item:not(:last-child) {
    margin-bottom: 40px;
  }

  .aboutMerch_image {
    margin-bottom: 15px;
  }

}

@media (max-width: 690px) {
  .aboutMerch_header {
    font-size: 23px;
  }

  .aboutMerch_square {
    display: none;
  }

  .aboutMerch_header {
    margin-left: 0px;
  }
}
