.header {
  position: fixed;
  background-color: #FFFFFF;
  left: 0;
  right: 0;
  z-index: 1000;
}

.headerBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.headerLogo {
  flex: 0 0 110px;
  height: 48px;
}

.headerMenu {
  padding: 0 20px;
  margin-left: -400px;
}

.headerMenuList {
  display: flex;
  justify-content: space-between;
}

.headerMenuList li:not(:last-child) {
  margin-right: 100px;
}

.headerMenuList a {
  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  font-weight: 500;
}

.headerIcons {
  display: flex;
  justify-content: right;
  flex: 0 0 182px;
}

.headerIcons > *:not(:last-child) {
  margin-right: 25px;
}

.headerIcons div {
  width: 30px;
  height: 24px;
  background-repeat: no-repeat;
}

.headerSearch {
  background-image: url(../../assets/svg/menu_search_btn.svg);
}

.headerHelp {
  background-image: url(../../assets/svg/menu_help_btn.svg);
}

.headerCart {
  background-image: url(../../assets/svg/menu_add_shopping_cart_btn.svg);
  position: relative;
}

.headerIcons .cartCount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  color: #1a1a1a;
  font-weight: 700;
  font-size: 10px;
  border: 0.44px solid #1A1A1A;
  border-radius: 50%;
  bottom: -7px;
  left: -7px;
}

@media(max-width: 1200px) {
  .headerBody {
    min-height: 70px;
  }

  .headerMenu {
    margin-left: 0;
  }

  .headerMenuList li:not(:last-child) {
    margin-right: 80px;
  }
}

@media(max-width: 992px) {
  .headerBody {
    min-height: 60px;
  }

  .headerMenuList li:not(:last-child) {
    margin-right: 50px;
  }

  .headerMenuList a {
    font-size: 18px;
  }

  .headerIcons {
    flex: 0 0 110px;
  }
}

@media(max-width: 768px) {
  .headerBody {
    min-height: 50px;
  }
  
  .headerMenuList li:not(:last-child) {
    margin-right: 20px;
  }

  .headerMenuList a {
    font-size: 16px;
  }

  .headerIcons {
    flex: 0 0 80px;
  }

  .headerIcons div {
    width: 24px;
    height: 24px;
  }
}
