@font-face {
  font-family: 'Golos';
  src: url(../fonts/Golos-Text_Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: url(../fonts/Golos-Text_Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text VF';
  src: url(../fonts/Golos-Text_VF.ttf);
  font-weight: 500;
  font-style: normal;
}
