.footer {
  background-color: #4B4950;
}

.footerBody {
  display: flex;
  padding: 40px 0 70px 0;

  color: #ffffff;
}

.footerColumn1 {
  flex: 0 1 317px;
  padding-right: 20px;
}

.footerLogo {
  width: 182px;
  height: 20px;
}

.footerColumn2 {
  flex: 1 1 auto;
}

.footerMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -30px -10px;
}

.footerMenuColumn {
  flex: 1 1 auto;
  padding: 30px 10px;
}

.footerInfo {
  max-width: 435px;
}

.footerMenuLabel {
  margin-bottom: 25px;

  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  font-weight: 700;
}

.footerLinks li:not(:last-child) {
  margin-bottom: 15px;
}

.footerLinks a {
  font-weight: 500;
}

.footerInline {
  display: flex;
  margin-bottom: 40px;
}

.footerCart {
  margin-left: 7px;
  cursor: pointer;
  width: 30px;
  height: 18px;
  background-image: url(../../assets/svg/add_shopping_cart_btn.svg);
}

.footerInline .footerMenuLabel {
  margin-bottom: 0;
}

.footerMerch {
 display: flex; 
 flex-direction: column;
 max-width: 315px;
}

.footerProducts {
  max-width: 202px;
}

.footerCategories {
  max-width: 315px;
}

.footerAdditional {
  max-width: 276px;
}

.footerSocial {
  display: flex;
  margin-top: 80px;
  align-items: center;
}

.footerFacebook {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 3%;
  background-image: url(../../assets/svg/social_fb_btn.svg);
  background-repeat: no-repeat;
  padding-bottom: 7px;
  background-position: center;
}

.footerYoutube {
  cursor: pointer;
  width: 30px;
  height: 28px;
  margin-right: 3%;
  background-image: url(../../assets/svg/social_youtube_btn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footerVkontakte {
  cursor: pointer;
  width: 30px;
  height: 24px;
  margin-right: 3%;
  background-image: url(../../assets/svg/social_vc_btn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width: 992px) {
  .footerBody {
    padding: 40px 0 70px 0;
  }
}

@media(max-width: 768px) {
  .footerBody {
    display: block;
    padding: 30px 0 40px 0;
  }

  .footerColumn1 {
    margin-bottom: 30px;
  }
}
