/* reviews-popup.css */

.reviews-popup {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: left;
  background-color: rgba(0, 0, 0, 0.75);

  cursor: auto;
}

.reviews-popup__body {
  position: relative;
  max-width: 515px;
  padding: 11px 0 20px 0;

  border-radius: 20px;
  background-color: #ffffff;

  overflow: hidden;
}

.reviews-popup__body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11px;

  background-color: #006AFF;
}

.reviews-popup__btn-close {
  position: absolute;
  top: 31px;
  right: 20px;
  width: 28px;
  height: 28px;

  border: 1px solid #4B4950;
  border-radius: 4px;
}

.reviews-popup__btn-close::before,
.reviews-popup__btn-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 1px;

  background-color: #4B4950;
}

.reviews-popup__btn-close::before {
  transform: translateX(-50%) rotate(45deg);
}

.reviews-popup__btn-close::after {
  transform: translateX(-50%) rotate(-45deg);
}

.review-popup__header {
  margin-bottom: 25px;
}

.header-review-popup {
  display: flex;
}

.header-review-popup__column-1 {
  flex: 0 0 208px;
  margin-right: 20px;
}

.review-popup__product-img {
  padding-bottom: 220px;

  border-radius: 0 0 20px 0;
  background-color: #E5E5E5;
  overflow: hidden;
}

.review-popup__product-img img {
  max-width: 100%;
}

.header-review-popup__column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 40px 0 0;
}

.review-popup__btn-cart {
  max-width: 130px;
  padding: 7px 10px;

  font-size: 12px;
  line-height: calc(14 / 12 * 100%);
}

.review-popup__title {
  padding-left: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  letter-spacing: normal;
  white-space: pre-line;
}

.review-popup__title::before {
  top: -38px;
}

.review-popup__content {
  padding: 0 40px;
}

.review-popup__text {
  margin-bottom: 30px;
  white-space: pre-line;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
}

.review-popup__author {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.review-popup__avatar {
  flex: 0 0 60px;
  height: 60px;
  margin-right: 25px;

  border-radius: 50%;
  background-color: #E5E5E5;
  overflow: hidden;
}

.review-popup__author-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  letter-spacing: 0.05em;
}

.review-popup__date {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
}

.slider-reviews-popup .slider__container {
  margin-bottom: 50px;
}