.form {
  margin-top: 100px; /* удалить после блока создания промокода */
  margin-bottom: 100px;
  color: #4B4950;
}

.form_body {
  max-width: 1450px;
  margin-right: 25px;
}

.form__title { margin-bottom: 60px; }

.form_wrapper {
  display: flex;
  margin-bottom: 9px;
}

.form_wrapper__col { flex-basis: 50%; }

/* ---------- start-промокод ---------- */

.form_promo_body {
  margin-bottom: 80px;
}

.form_promo_body p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4B4950;
}

.form_promo_block {
  position: relative;
  padding-top: 30px;
  display: flex;
}

.form__input_promo {
  border: 1.3px solid #4B4950;
  border-radius: 4px 0px 0px 4px;
  width: 250px;
  height: 52px;
  padding: 5px 10px;
}

.form__input_promo:focus {
  outline: 0;
}

.form__button_promo {
  border: 1.3px solid #4B4950;
  border-radius: 0px 4px 4px 0px;
  width: 250px;
  height: 52px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

.form__button_promo:hover {
  border: 1.3px solid #006AFF;;
}

.form__label_promo {
  position: absolute;
  content: '';
  top: 25%;
  left: 74px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: rgba(75, 73, 80, 0.3);
  border-radius: 4px 0px 0px 4px;
}

.promo_email {
  left: 37px;
  border-radius: 0px 0px 0px 0px;
}

.form__promo_popap {
  position: absolute;
  width: 500px;
  height: 52px;
  left: 0px;
  bottom: 50px;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F2F2F2;
}

.popap_error_input { border: 1.3px solid #E61A5E; }

.popap_error {
  background: #E61A5E;
  border: 1.3px solid #E61A5E;
}

.popap_success {
  background: #49D2A4;
  border: 1.3px solid #49D2A4;
}


/* ---------- end-промокод ---------- */

.form__item {
  position: relative;
  margin-bottom: 50px;
}

.form__label {
  position: absolute;
  bottom: 6px;
  left: 8px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(75, 73, 80, 0.3);
}

.form__input {
  max-width: 675px;
  width: 100%;
  height: 65px;
  border: 1.3px solid #4B4950;
  border-radius: 4px;
  
  padding-top: 8px; /* заменить на стили от дизайнеров */
  padding-left: 8px; /* заменить на стили от дизайнеров */
  padding-bottom: 14px; /* заменить на стили от дизайнеров */
  font-family: inherit; /* заменить на стили от дизайнеров */
  font-style: normal; /* заменить на стили от дизайнеров */
  font-weight: 600; /* заменить на стили от дизайнеров */
  font-size: 24px; /* заменить на стили от дизайнеров */
  line-height: 19px; /* заменить на стили от дизайнеров */
  letter-spacing: 1.2; /* заменить на стили от дизайнеров */
  color: #4B4950; /* заменить на стили от дизайнеров */
}

.form__input:focus {
  color: rgb(75, 73, 80);
  outline: 0;
  border: 1.3px solid #4B4950;
}

.form__input_error { 
  border: 1.3px solid #E61A5E;
}

/* .form__label_error_message::after {
  content: ' Поле обязательно для заполнения';
  color: #E61A5E;
} */

textarea.form__input { min-height: 180px; }

.checkbox { margin-bottom: 17px; } 

.checkbox__input { display: none; }

.checkbox__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #4B4950;
}

.checkbox__label::before {
  content: '';
  align-self: flex-start;
  width: 18px;
  height: 18px;
  border: 1.3px solid #4B4950;
  border-radius: 5px;
  margin-right: 8px;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.checkbox__label::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #006AFF;
  border-radius: 5px;
  border: 1.3px solid #006AFF;
  transform: scale(0);
  transition: transform 0.5s ease 0s; /* заменить на анимацию от дизайнеров */
}

/* .checkbox__input_false:checked + .checkbox__label_false::after {
  transform: scale(1);
} */

.checkbox__label_false::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color:#E61A5E;
  border-radius: 5px;
  border: 1.3px solid #E61A5E;
  transform: scale(1);
  transition: transform 0.5s ease 0s; /* заменить на анимацию от дизайнеров */
}

.checkbox__label a { color: #006AFF; }

.form__button {
  width: 506px;
  margin-top: 57px;
}

.statusOrder_block {
  position: relative;
  max-width: 1400px;
}

.statusOrder {
  position: absolute;
  bottom: 0;
  right: -50%;
  width: 675px;
  padding-top: 10px;
  padding-left: 8px;
  border: 1.3px solid #49D2A4;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4B4950;
}

.statusOrder p:first-child { margin-bottom: 21px; }
.statusOrder p:last-child { margin-bottom: 13px; }

.statusOrder p span { 
  color: #49D2A4;
  font-weight: 900;
}

.form_wrapper__col:first-child { margin-right: 25px; }

@media (max-width: 1600px) {
  
}

@media (max-width: 1350px) {
  .statusOrder { width: 42%; }
}

@media (max-width: 1000px) {
  .form_wrapper { flex-direction: column; }
  .form_wrapper__col:first-child { margin-right: 0; }
  .form__button {
    max-width: 506px;
    width: 100%;
    margin-top: 57px;
  }
  .statusOrder {
    position: relative;
    width: 90%;
    margin-top: 20px;
  }
}
