.item {
  margin-bottom: 30px;
}

.item:last-child {
  margin-bottom: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #006AFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  padding: 20px 70px;
  border-radius: 8px;
}

.open .title {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.arrow {
  width: 20px;
  height: 7px;
  margin-left: 10px;
  flex-shrink: 0;
}

.arrow .img {
  width: 100%;
  object-fit: cover;
}

.content p {
  line-height: 1.2;
  color: #1a1a1a;
  opacity: 0.7;
  padding: 35px 80px 30px;
}

.content a {
  display: block;
  padding: 0 80px;
  text-align: end;
  margin-bottom: 30px;
  font-weight: 500;
  color: #006AFF;
  font-size: inherit;
}

.content {
  background-color: #ECECEC;
  font-size: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s;
}

.open .content {
  max-height: 400px;
}